# Ignore bin and gen dirs
/tutorial-libgdx-google-ads/bin
/tutorial-libgdx-google-ads-android/bin
/tutorial-libgdx-google-ads-android/gen
/tutorial-libgdx-google-ads-desktop/bin
/google-play-services_lib/bin
/google-play-services_lib/gen
