## Java

*.class
*.war
*.ear
hs_err_pid*

## Robovm
/tutorial-libgdx-google-ads-ios/robovm-build/

## GWT
/tutorial-libgdx-google-ads-html/war/
/tutorial-libgdx-google-ads-html/gwt-unitCache/
.apt_generated/
.gwt/
gwt-unitCache/
www-test/
.gwt-tmp/

## Android Studio and Intellij and Android in general
/tutorial-libgdx-google-ads-android/libs/armeabi/
/tutorial-libgdx-google-ads-android/libs/armeabi-v7a/
/tutorial-libgdx-google-ads-android/libs/arm64-v8a/
/tutorial-libgdx-google-ads-android/libs/x86/
/tutorial-libgdx-google-ads-android/libs/x86_64/
/tutorial-libgdx-google-ads-android/gen/
.idea/
*.ipr
*.iws
*.iml
/tutorial-libgdx-google-ads-android/out/
com_crashlytics_export_strings.xml

## Eclipse

.classpath
.project
.metadata/
/tutorial-libgdx-google-ads-android/bin/
/tutorial-libgdx-google-ads/bin/
/tutorial-libgdx-google-ads-desktop/bin/
/tutorial-libgdx-google-ads-html/bin/
/tutorial-libgdx-google-ads-ios/bin/
/tutorial-libgdx-google-ads-ios-moe/bin/
*.tmp
*.bak
*.swp
*~.nib
.settings/
.loadpath
.externalToolBuilders/
*.launch

## NetBeans

/nbproject/private/
/tutorial-libgdx-google-ads-android/nbproject/private/
/tutorial-libgdx-google-ads/nbproject/private/
/tutorial-libgdx-google-ads-desktop/nbproject/private/
/tutorial-libgdx-google-ads-html/nbproject/private/
/tutorial-libgdx-google-ads-ios/nbproject/private/
/tutorial-libgdx-google-ads-ios-moe/nbproject/private/

/build/
/tutorial-libgdx-google-ads-android/build/
/tutorial-libgdx-google-ads/build/
/tutorial-libgdx-google-ads-desktop/build/
/tutorial-libgdx-google-ads-html/build/
/tutorial-libgdx-google-ads-ios/build/
/tutorial-libgdx-google-ads-ios-moe/build/

/nbbuild/
/tutorial-libgdx-google-ads-android/nbbuild/
/tutorial-libgdx-google-ads/nbbuild/
/tutorial-libgdx-google-ads-desktop/nbbuild/
/tutorial-libgdx-google-ads-html/nbbuild/
/tutorial-libgdx-google-ads-ios/nbbuild/
/tutorial-libgdx-google-ads-ios-moe/nbbuild/

/dist/
/tutorial-libgdx-google-ads-android/dist/
/tutorial-libgdx-google-ads/dist/
/tutorial-libgdx-google-ads-desktop/dist/
/tutorial-libgdx-google-ads-html/dist/
/tutorial-libgdx-google-ads-ios/dist/
/tutorial-libgdx-google-ads-ios-moe/dist/

/nbdist/
/tutorial-libgdx-google-ads-android/nbdist/
/tutorial-libgdx-google-ads/nbdist/
/tutorial-libgdx-google-ads-desktop/nbdist/
/tutorial-libgdx-google-ads-html/nbdist/
/tutorial-libgdx-google-ads-ios/nbdist/
/tutorial-libgdx-google-ads-ios-moe/nbdist/

nbactions.xml
nb-configuration.xml

## Gradle

/local.properties
.gradle/
gradle-app.setting
/build/
/tutorial-libgdx-google-ads-android/build/
/tutorial-libgdx-google-ads/build/
/tutorial-libgdx-google-ads-desktop/build/
/tutorial-libgdx-google-ads-html/build/
/tutorial-libgdx-google-ads-ios/build/
/tutorial-libgdx-google-ads-ios-moe/build/

## OS Specific
.DS_Store
Thumbs.db

## iOS
/tutorial-libgdx-google-ads-ios/xcode/*.xcodeproj/*
!/tutorial-libgdx-google-ads-ios/xcode/*.xcodeproj/xcshareddata
!/tutorial-libgdx-google-ads-ios/xcode/*.xcodeproj/project.pbxproj
/tutorial-libgdx-google-ads-ios/xcode/native/
/tutorial-libgdx-google-ads-ios/IOSLauncher.app
/tutorial-libgdx-google-ads-ios/IOSLauncher.app.dSYM

/tutorial-libgdx-google-ads-ios-moe/xcode/*.xcodeproj/*
!/tutorial-libgdx-google-ads-ios-moe/xcode/*.xcodeproj/xcshareddata
!/tutorial-libgdx-google-ads-ios-moe/xcode/*.xcodeproj/project.pbxproj
/tutorial-libgdx-google-ads-ios-moe/xcode/native/
